<!doctype html>
<html lang="en">
    <head th:replace="~{fragment :: head('Product Form')}"></head>
    <body style="background-color: black">

        <nav style="background-color:#df8300;" class="navbar navbar-expand-lg navbar-light">
            <div class="container px-4 px-lg-5">
                <img src="/../imagem/logo.png" width="200px" height="40px" alt="alt"/>
        </nav></br>
        <section class="container">
            <main >
                <form action="/cadastroCliente" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label>Nome Completo</label>
                            <input type="text"  name="nome" class="form-control" placeholder="Nome Completo" required>
                        </div>
                        <div class="col-md-12 mb-3">
                            <label>Email</label>
                            <input type="email"  name="email" class="form-control" placeholder="Email" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>Data de Nascimento</label>
                            <div class="input-group">
                                <input type="date"  class="form-control" name="dataNascimento" placeholder="Data" required>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>Genero</label>
                            <select class="form-control col-md-12" name="genero">
                                <option value="Masculino">Masculino</option>
                                <option value="Feminino">Feminino</option>
                                <option value="Outros">Outros</option>
                            </select>
                        </div>   
                        <div class="col-md-12 mb-3">
                            <label>CPF</label>
                            <input type="text"  name="CPF" class="form-control" placeholder="CPF" required>
                        </div> 
                        <p>
                            Endereço de cobrança
                        </p>
                        <div class="col-md-9 mb-3">
                            <label>Logradouro</label>
                            <input type="text"  name="logradouro" class="form-control" placeholder="Rua" required>
                        </div> 
                       
                        <div class="col-md-3 mb-3">
                            <label>Nº</label>
                            <input type="number"  name="numero" class="form-control" placeholder="Numero" required>
                        </div> 
                        <div class="col-md-12 mb-3">
                            <label>CEP</label>
                            <input type="text"  name="CEP" class="form-control" placeholder="CEP" required>
                        </div> 
                        <div class="col-md-12 mb-3">
                            <label>Complemento</label>
                            <input type="text"  name="complemento" class="form-control" placeholder="Complemento" required>
                        </div> 
                        <div class="col-md-6 mb-3">
                            <label>Bairro</label>
                            <input type="text"  name="bairro" class="form-control" placeholder="Bairro" required>
                        </div> 
                        <div class="col-md-4 mb-3">
                            <label>Cidade</label>
                            <input type="text"  name="cidade" class="form-control" placeholder="Cidade" required>
                        </div> 
                        <div class="col-md-2 mb-3">
                            <label>UF</label>
                            <input type="text"  name="UF" class="form-control" placeholder="UF" required>
                        </div> 
                        <div class="col-md-12 mb-3">
                            <label>Senha</label>
                            <input type="password"  name="senha" class="form-control" placeholder="Senha" required>
                        </div>  
                        <div class="col-md-12 mb-3">
                            <input type="checkbox" name="chkEndereco">
                            <label>Deseja que o endereço de entrega seja o mesmo de cobrança</label>

                        </div> 
                    </div>
                    <div class="col-md-12" style="text-align: center">
                        <button  style="background-color: #df8300" class="btn btn-dark col-md-12 mt-3" type="submit">Cadastrar</button>
                    </div>
                </form>
            </main>
            </<select>                                   
                </body>
                </html>