<!doctype html>
<html lang="en">
    <head th:replace="~{fragment :: head('Product Form')}"></head>
    <script type="text/javascript" src="/js/jsCEP.js"></script>
    <body>
        <header th:replace="~{fragment :: header}"></header> 
        <section class="container">
            <main >
                <form action="/cadastroNovoEndereco" method="post" enctype="multipart/form-data">
                    <div class="col-md-12 mb-3">
                            <label>CEP</label>
                            <input type="text"  name="CEP" class="form-control" id="cep" value="" size="10" maxlength="9"
                                   onblur="pesquisacep(this.value);"  placeholder="CEP">
                        </div> 
                        <div class="col-md-12 mb-3">
                            <label>Logradouro</label>
                            <input type="text"   name="logradouro" class="form-control" id="rua" placeholder="Rua" required>
                        </div> 

                        <div class="col-md-16 mb-3">
                            <label>Bairro</label>
                            <input type="text" name="bairro" class="form-control" id="bairro" placeholder="Bairro" required>
                        </div> 
                        <div class="col-md-14 mb-3">
                            <label>Cidade</label>
                            <input type="text" name="cidade" class="form-control" id="cidade" placeholder="Cidade" required>
                        </div> 
                        <div class="col-md-12 mb-3">
                            <label>UF</label>
                            <input type="text" class="form-control"  name="UF" id="uf" placeholder="UF" required>
                        </div>
                        <div class="col-md-12 mb-3">
                            <label>Complemento</label>
                            <input type="text"  name="complemento"  class="form-control" placeholder="Complemento">
                        </div> 
                        <div class="col-md-12 mb-3">
                            <label>Nº</label>
                            <input type="number"  name="numero"  class="form-control" placeholder="Nº" required>
                        </div> 
                    <div class="col-md-12" style="text-align: center">
                        <button class="btn btn-dark col-md-12 mt-3" type="submit">Cadastrar</button>
                    </div>
                </form>
            </main>
            </<select>   

                </body>
                </html>