<!DOCTYPE html>
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragment :: head('user List')}"></head>
    <head th:replace="~{fragment :: head('user List')}">
        
    </head>
    <link rel="stylesheet" href="../static/css/style.css">
    <body>
        <section class="container">
            <header th:replace="~{fragment :: header}"></header> 
            <main>
                <form action="/findByName" method="post"  class="d-flex  mt-4 col-md-5">
                    <input th:value="${param.nomepesquisa}" name="nomepesquisa" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                </form>

                <table class="table  mt-4">
                    <thead>
                        <tr>
                            <td>Id</td>
                            <td>Nome</td>
                            <td>Data Nascimento</td>
                            <td>Email</td>
                            <td>Telefone</td>                   
                            <td>Tipo</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each = "lista:${list}">
                            <td th:text="${lista.id}"></td>
                            <td th:text="${lista.nome}"></td>
                            <td th:text="${lista.data}"></td>
                            <td th:text="${lista.email}"></td>
                            <td th:text="${lista.telefone}"></td>
                            <td th:text="${lista.tipoUsuario}"></td>
                            <td th:text="${lista.status}"></td>
                            <td><a th:href="@{userEdit/{userId}(userId = ${lista.id})}">Alterar</a></td>
                        </tr>
                    </tbody>
                </table>    
            </main>
        </section>
    </body>
</html>
