/* Slider */

.container-fluid {
    padding: 0;
}

#carouselExampleIndicators .carousel-caption {
    top: 10%;
}

.btn-comprar{
    padding: 10px;
}

.btn-estilo{
    padding: 10px;
}

#credit{
    display: none;
}

#btnBoleto {
	background-color: yellow;
}