.Search{
    margin-left: 50%;
}

.paginacao{
    margin-left: 40%;
}

.lImg{
   height: 550px;
}
.hidden{
    visibility: hidden;
}

input[type="file"] {
    display: none;
}

.imgAdd{
    width:55%;
}

.imgAdd img{
    width:20%;
}

.carousel-controler{
    opacity: 50%;
    color: black;
    font-size: 30px;
}

.cardHome{ 
    margin:2% 1% 0 1%;
    width: 31%;
    height: 450px;
}

.homeImg{
   height: 200px;
   width: 60%;
}

.carousel-item{text-align: center;}
