<head th:fragment="head(titulo)">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <title th:text="${titulo}"></title>
</head>


<header th:fragment="header"> 
    <nav style="background-color:#df8300;" class="navbar navbar-expand-lg navbar-light">
        <div class="container px-4 px-lg-5">
            <img src="../../../imagem/logo.png" width="200px" height="40px" alt="alt"/>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/home">Home</a></li>
                    <a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Usuario
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/form">Cadastrar</a></li>
                        <li><a class="dropdown-item" href="/list">Buscar</a></li>
                    </ul>
                    <a sec:authorize="hasRole('ROLE_ADMIN')or hasRole('ROLE_ESTOQUE')" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Estoque
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="../../../produto/form">Cadastrar</a></li>
                        <li><a class="dropdown-item" href="../../../produto/list/0">Buscar</a></li>
                         <li><a class="dropdown-item" href="../../../../user/pedido">Pedido</a></li>
                               
                    </ul>  
                    <li class="nav-item"><a class="nav-link" href="#!">About</a></li>

                </ul>

                <form class="d-grid gap-2 d-md-flex justify-content-md-end">

                    <div th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}">
                        <span th:case="${false}">
                            <a class="btn btn-outline-dark" href="/login">
                                <img src="../../../imagem/user.png" width="20px" height="20px" alt="alt"/>
                                Login
                            </a>
                        </span>

                        <span th:case="${true}">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" style="color: black;" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Bem Vindo:
                                <span th:text="${#authentication.principal.nome}"></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="../../../../cliente/dados" sec:authorize="hasRole('ROLE_ADMIN')or hasRole('ROLE_CLIENTE')" >Meus dados</a></li>
                                <li><a class="dropdown-item" href="../../../../cliente/pedido" sec:authorize="hasRole('ROLE_ADMIN')or hasRole('ROLE_CLIENTE')">Pedido</a></li>
                                <li><a class="dropdown-item" href="/logout">sair</a></li>
                            </ul>  
                        </span>
                    </div>


                    <form>
                        <form class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button class="btn btn-outline-dark" type="submit">

                                <img src="../../../imagem/carrinho.png" width="20px" height="20px" alt="alt"/>
                                <a href="../../cliente/carrinho">Carrinho</a>    


                            </button>                    
                        </form>
                        </div>
                        </div>
                        </nav>
                        </header>