<!DOCTYPE html>
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragment :: head('user List')}"></head>
    <script type="text/javascript">
        function buscar() {
            let nome = document.getElementById("pesquisa").value;
            let link = document.getElementById("btnBusca");
            if (nome === "") {
                link.href = "../../../produto/list/0";
            } else {
                link.href = "../../../produto/findByName/0/" + nome;
            }
        }
    </script>
    <body class="container">
        <section>
            <header th:replace="~{fragment :: header}"></header>  

            <div class="pesquisa">
                <input id="pesquisa" th:value="${nomepesquisa}" name="nomepesquisa" class="form-control-sm mt-4 col-md-5 Search" placeholder="Search">
                    <a id="btnBusca" class="btn btn-primary" onclick="buscar()">Search</a>
            </div>

            <div class="cardHome card" style="float: left;" th:each="prod,iterStat:${produto}">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" >

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img  th:each = "fImg:${fistImg}" th:if="${prod.id == fImg.fk_prodId}" th:src="@{/imagem/{imagem}(imagem = ${fImg.img})}" class=" homeImg " alt="...">                                             
                        </div>
                        <div th:each = "img:${outrasImg}" th:if="${prod.id == img.fk_prodId}" class="carousel-item">
                            <img th:src="@{/imagem/{imagem}(imagem = ${img.img})}" class="homeImg" alt="...">                                             
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title homeCard-title" th:text="${prod.nomeProduto}"></h5>
                    <p class="card-text homeCard-text" th:text="'R$: '+${prod.valor}"></p>
                    <a href="#" class="btn btn-primary col-md-12 mb-2">Adicionar ao Carrinho</a>
                    <a href="#" class="btn btn-primary col-md-12" th:href="@{../../../produto/detalheHome/{id}(id = ${prod.id})}">Detalhe do produto</a>
                </div>
            </div>
        </section>
    </body>
</html>