<!doctype html>
<html lang="en">
    <head th:replace="~{fragment :: head('Product Form')}"></head>
    <body class="container">
        <header th:replace="~{fragment :: header}"></header> 
        <section>   
            <div class="card-group mt-3 mb-4">
                <div class="card">
                    <img class="card-img-top mt-5" th:src="@{/imagem/{imagem}(imagem = ${prod.imagem})}"/>         
                    <!--                    <div class="card-body">
                                            <h5 class="card-title" th:text="${prod.nomeProduto}">Card title</h5>
                                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                        </div>-->
                </div>
                <div class="card">                  
                    <div class="card-body">                
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"> <h4 th:text="${prod.nomeProduto}">Card title</h4></li>
                            <li class="list-group-item" th:text="${prod.descricao}"></li>
                            <li class="list-group-item" th:text="'Valor: R$ ' + ${prod.valor}"></li>
                            <li class="list-group-item" th:text="'Estoque: '+${prod.qtd}"></li>
                            <li class="list-group-item" th:text="'Estatus: '+${prod.status}"></li>
                        </ul>
                    </div>
                    <form action="/produto/list/0">
                    <button class="btn-primary col-md-12">Voltar</button>
                    </form>
                </div>
            </div>

        </section>
    </body>
</html>
