<!doctype html>
<html lang="en">
    <head th:replace="~{fragment :: head('Product Form')}"></head>
    <body>
        <section class="container">
            <header th:replace="~{fragment :: header}"></header> 
            <main>
                <form action="/criarProduto" method="post">
                    <div class="row">
                        <div class="col-md-5 mb-3">
                            <label>Nome Produto</label>
                            <input type="text"  name="nomeProduto" class="form-control" placeholder="Nome Produto" required>
                        </div>
                        <div class="col-md-5 mb-3">
                            <label>Descrição</label>
                            <div class="input-group">
                                <input type="text" class="form-control" name="descricao" placeholder="Descrição" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label>Quantidade</label>
                            <input type="number" name="qtd" class="form-control" placeholder="Quantidade" required>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label>Status</label>
                            <select class="form-control" name="status">
                                <option th:each="status: ${status}"
                                        th:value="${status}"th:text="${status}"></option>
                            </select>
                        </div>                       
                    </div>
                    <button class="btn btn-primary" type="submit">Cadastrar</button>
                </form>
            </main>
            </<select>
                </body>
                </html>